<div class="main">
  <div class="section voting">
    <div class="title">Voting</div>
    <div class="content reason">{{ reason }}</div>

    <div class="content label">ID.</div>
    <div class="content id-input">
      <input type="text" name="id-input" id="id-input" #textbox />
    </div>

    <div class="content label">options.</div>
    <div class="content nominee" *ngFor="let nominee of nominations">
      <input
        type="radio"
        name="answer"
        id="{{ nominee }}"
        value="{{ nominee }}"
        (change)="choice = nominee"
      />
      <label for="{{ nominee }}">{{ nominee }}</label>
    </div>

    <div class="content submit">
      <button (click)="submitVote(textbox.value)">Next Vote</button>
    </div>
  </div>
  <div class="section blockchain">
    <div class="title">Blockchain</div>

    <app-loading *ngIf="isLoading"></app-loading>

    <div class="content" *ngIf="!isLoading">
      [ <br />
      <div
        class="block"
        [ngClass]="{
          updated: block.updated
        }"
        *ngFor="let block of blockChain.blockchain"
      >
        &nbsp;&nbsp;&nbsp;<span class="lime">&#123;</span><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="red">timestamp:</span>
        {{ block.timestamp }},
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="blue">data:</span>
        {{ block.data }},
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="green">precedingHash:</span> {{ block.precedingHash }},
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="yellow">hash:</span>
        {{ block.hash }} <br />&nbsp;&nbsp;&nbsp;<span class="lime"
          >&#125;,</span
        >
      </div>
      ]
    </div>

    <div *ngIf="showErrorMessage" class="errorMsg">
      <span class="msg">{{ errorMessage }}</span>
      <button class="closeMsg" (click)="showErrorMessage = !showErrorMessage">
        x
      </button>
    </div>

    <div class="btns">
      <button (click)="updateRandomBlock()">Update Random Block</button>
      <button (click)="checkValidity()">Check Validity</button>
      <button
        (click)="decrypt()"
        [ngClass]="{
          active: isDecryptOn
        }"
      >
        Decrypt
      </button>
      <!-- <button
        (click)="encrypt()"
        [ngClass]="{
          active: !isDecryptOn
        }"
      >
        Encrypt
      </button> -->
    </div>
  </div>
</div>
