.main {
  --voting-area: 300px;

  display: flex;
  min-height: 100vh;
  width: 100vw;
  section {
    min-height: 100vh;
  }

  .title {
    font-size: 1.75em;
    margin: 0.25rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0.15rem 0.25rem;
  }

  .voting {
    width: var(--voting-area);
    border-right: 1px solid rgba(0, 0, 0, 0.2);

    .content {
      font-size: 1.2em;
      padding: 0 0.5rem;
    }

    .reason {
      margin: 1rem 0;
      text-align: center;
    }

    .label {
      font-size: 0.9em;
      margin: 0.5rem 0;
    }

    .id-input {
      width: 100%;
      input {
        width: 100%;
        padding: 0.15rem 0.25rem;
      }
    }

    .nominee {
      padding: 0 1.25rem;
      input {
        margin: 0 0.5rem;
      }
    }
    .submit {
      button {
        margin-top: 2rem;
        margin-left: 50%;
        font-size: 0.7em;
        padding: 0.2rem 0.3rem;
        transform: translateX(-50%);
      }
    }
  }

  .blockchain {
    width: calc(100vw - var(--voting-area));

    .content {
      padding: 0.5rem 1rem;

      .updated {
        background-color: rgba(250, 193, 193, 0.596);
        border-radius: 5px;
      }
    }
    .errorMsg {
      background-color: var(--pale-green);
      margin: 0 1.25rem 1.25rem 1.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
      color: white;
      border-radius: 5px;

      span {
        margin-right: 0.25rem;
      }
      button {
        height: 1.8rem;
        width: 1.8rem;
        font-size: 1.2rem;
        line-height: 1.2rem;
        text-align: center;
        color: white;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border: none;
        transition: all 0.25s ease-in-out;

        &:focus {
          outline: none;
        }
        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }
    .btns {
      padding: 0.25rem 1rem;

      .active {
        pointer-events: none;
        opacity: 0.6;
      }

      button {
        padding: 0.15rem 0.25rem;
        &:not(:first-child) {
          margin-left: 1rem;
        }
      }
    }
  }
}

.green {
  color: var(--green-accent);
}
.orange {
  color: var(--orange-accent);
}
.yellow {
  color: var(--yellow-accent);
}
.lime {
  color: var(--lime-accent);
}
.red {
  color: var(--red-accent);
}
.blue {
  color: var(--blue-accent);
}
