<div class="main">
  <div class="title">"Blockchain Voting Simulator"</div>

  <div class="section">
    <div class="label about">What is this Voting about?</div>
    <input
      type="text"
      name="voting-about"
      id="voting-about"
      #textbox
      required
    />
  </div>
  <div class="section">
    <div class="label nomination">Add Nominations</div>
    <input
      type="text"
      name="nominations"
      id="nominations"
      (keyup.enter)="addTag($event)"
    />
    <div class="tag-bubbles" *ngIf="currentTags.length > 0">
      <div class="tag" *ngFor="let t of currentTags">
        <span class="tag-label">
          {{ t }}
        </span>
        <span class="cross" (click)="removeTag(t)"
          ><i class="fa fa-times" aria-hidden="true"></i
        ></span>
      </div>
    </div>
  </div>

  <div *ngIf="showErrorMessage" class="errorMsg">
    <span class="msg">{{ errorMessage }}</span>
    <button class="closeMsg" (click)="showErrorMessage = !showErrorMessage">
      x
    </button>
  </div>

  <button class="submit" (click)="submit(textbox.value)">Let's Vote!</button>

  <div class="credits">"Designed and Developed by Rahul & Parth"</div>
</div>
