.main {
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 2.5em;
  margin: 1rem 0;
}

.label {
  font-size: 1.5em;
}

.section {
  margin: 1rem 0;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    width: 80%;
    padding: 0.25rem;
    font-size: 1.1em;
    margin: 0.5rem 0;
  }

  .tag-bubbles {
    margin-bottom: 0.75rem;
    display: flex;
    flex-wrap: wrap;

    .tag {
      border: 1px solid rgb(75, 75, 75);
      border-radius: 0.75rem;
      margin: 0.2rem 0;
      display: flex;
      align-items: center;
      &:not(:last-child) {
        margin-right: 0.2rem;
      }

      .tag-label {
        padding: 0.2rem 0.25rem 0.2rem 0.5rem;
        text-align: center;
      }

      .cross {
        padding: 0.2rem 0.5rem 0.2rem 0.25rem;

        cursor: pointer;
      }
    }
  }
}

.errorMsg {
  background-color: var(--pale-green);
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 5px;

  span {
    margin-right: 0.25rem;
  }
  button {
    height: 1.8rem;
    width: 1.8rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border: none;
    transition: all 0.25s ease-in-out;

    &:focus {
      outline: none;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.submit {
  font-size: 1em;
  padding: 0.25rem 0.5rem;
}
